/* 笔记正文容器 */
.blog-content {
    padding: 30px;
}

/* 笔记标题 */
.blog-content h3 {
    text-align: center;
    padding: 20px 0;
}

/* 笔记日期 */
.blog-content .date {
    color: #008000;
    padding: 10px 0;
    text-align: center;
}

/* 笔记内容段落 */
.blog-content p {
    text-indent: 2em;
    padding: 10px 0;
}